/* Configurações básicas */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #FFF; /* Texto branco */
}

/* Estilo do cabeçalho */
header {
    background-color: #000; /* Fundo preto */
    color: #FFF; /* Texto branco */
    padding: 10px 0;
    text-align: center;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
    text-align: center;
    color: #FFF; /* Texto branco */
}

/* Estilo do rodapé */
footer {
    background-color: #000; /* Fundo preto */
    color: #FFF; /* Texto branco */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Design Responsivo */
@media (max-width: 600px) {
    header, main, footer {
        padding: 10px;
        text-align: center;
    }
}